* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merienda', cursive;
    background: linear-gradient(180deg, #DBE2EF, #DBE2EF); 
    color: #333;
    margin: 0;
}

.top {
    background-color: #3498db;
    padding: 100px 0;
    color: #fff;
    text-align: center;
    position: relative;
    animation: fadeIn 2s ease-in; 
}

.site-title {
    font-family: 'Sacramento', cursive;
    font-size: 530.5%;
    color: #393E46;
    margin: 20px auto 30px auto;
}

.subtitle {
    margin-bottom: 20px;
    font-family: 'Segoe UI';
    font-size: 2.3rem;
    color: #EEEEEE;
}

.menu {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
    margin: 0 20px;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.menu li::before {
    content: "•";
    margin-right: 5px;
}

.content {
    padding:  0;
    text-align: center;
}

.section-content {
    background-color: #EEEEEE;
    padding: 100px 0;
    color: #00ADB5;
    position: relative; 
}

.section-content h2 {
    font-size: 36px;
    color: #30f5ff; 
}

.section-content p {
    font-size: 18px;
    color: #393E46; 
    margin-top: 20px; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.bottom {
    background-color: #EEEEEE;
    padding: 20px 0;
    text-align: center;
    animation: fadeIn 2s ease-in;
}



.skill-item {
    color: #393E46;
}
li{
    color: #393E46;
}

hr {
    border: none;
    border-top: 6px dotted #393E46;
    width: 5%; 
    margin: 0 auto;
    color: white;
}
.section-content {
    background-color: #EEEEEE;
    padding: 120px 0;
    color: #00ADB5;
    position: relative;
}
.about-text {
    width: 70%; 
    margin: 0 auto;
    padding: 20px; 
    text-align: left; 
}
.skill-logo {
    width: 50px; 
    height: auto; 
    margin-right: 10px;
}
li{
    color: #393E46;
    padding: 20px; 
}
ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    padding: 10px 0; 
}


.section-content {
    background-color: #EEEEEE;
    padding: 90px; 
    color: #00ADB5;
    position: relative;
}

.section-content h2 {
    font-size: 36px;
    color: rgb(0, 242, 255);
}

.section-content p {
    font-size: 20px;
    color: #393E46;
    margin-top: 20px;
}


.section-content p strong {
    font-weight: bold;
    padding: 20px;
    color: #3498db; 
}
#contact {
    background-color: #3498db;
    color: #fff;
    padding:  0;
    text-align: center;
    position: relative;
}

.section-content h2 {
    font-size: 36px;
}

.section-content p {
    font-size: 18px;
    margin-top: 20px;
}

.contact-list {
    list-style: none;
}

.contact-item {
    margin-top: 30px;
}

.contact-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.contact-link:hover {
    background-color: #fff; 
    color: #3498db;
    transition: background-color 0.3s, color 0.3s; 
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    opacity: 100 !important;
}


.battery:before,
.battery:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
}

.battery:before {
    left: 1px;
    width: 20px;
    background-color: #4CAF50;
}

.battery-intermediate:before {
    left: 1px;
    width: 14px;
    background-color: #ffd103;; 
}

.battery-basic:before {
    left: 1px;
    width: 14px;
    background-color: #ffd103; 
}

.battery-learning:before {
    left: 1px;
    width: 10px;
    background-color: #ff9900; 
}

#contact {
    padding: 80px 0; 
}

#contact .section-description {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}


#contact .contact-card {
    background-color: #ffffff; 
    color: #fff; 
    padding: 20px;
    border: 1px solid #444; 
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#contact .contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(241, 238, 238, 0.1);
}

#contact .contact-link {
    font-size: 18px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

#contact .contact-link:hover {
    text-decoration: underline;
}
.navbar-nav a.nav-link {
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-nav a.nav-link:hover {
    color: #3498db;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* Add your custom CSS for enhanced styling */
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-color: #fff; /* Customize the color of the toggler icon */
}

.navbar-nav {
    font-size: 1.2em;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #3498db;
}

/* Add your custom CSS for enhanced styling */
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px; /* Add letter-spacing for more style */
}

.navbar-toggler {
    border: none;
    outline: none;
    transition: background-color 0.3s; /* Add transition for smoother hover effect */
}

.navbar-toggler:hover {
    background-color: #3498db; /* Change the background color on hover */
}

.navbar-toggler-icon {
    background-color: #fff;
    border-radius: 2px; /* Add border-radius for a rounded look */
}

.navbar-nav {
    font-size: 1.2em;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #3498db;
}

/* Add animations to navbar links */
.navbar-nav .nav-item {
    animation: slideInRight 0.5s ease-out;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.neon-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #3498db;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.neon-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #00bfff, #0082e6, #00bfff, #0082e6);
    border-radius: 10px;
    z-index: -1;
    animation: neon 1.5s linear infinite;
}

@keyframes neon {
    0%,
    100% {
        transform: translate(-2px, -2px);
    }
    25%,
    75% {
        transform: translate(2px, 2px);
    }
}

.section-title {
    font-size: 36px;
    color: #3498db;
    margin-bottom: 30px;
}

/* About Text */
.about-text p {
    font-size: 18px;
    color: #333;
}

/* Profile Photo */
.profile-photo {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* AOS Animation */
[data-aos] {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

[data-aos].aos-animate {
    opacity: 1;
}

.skill-icon {
    font-size: 2rem;
}


.skill-cell:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.battery {
    display: inline-block;
    width: 20px;
    height: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    position: relative;
    margin-left: 10px;
}
.aos-init, .aos-animate {
    opacity: 1 !important;
    visibility: visible !important;
}

@keyframes moveCloudup {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes moveClouddown {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.top_cloud{
    animation: moveCloudup 20s linear infinite;
}
.bottom_cloud {
    animation: moveClouddown 20s linear infinite;
}


section {
    padding: 80px 0;
}

.container {
    position: relative;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 50px;
    color: #007bff; /* Bootstrap's primary color */
}

.card {
    border: none;
    transition: transform 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #343a40;
}

.card-text {
    font-size: 1.2rem;
    color: #6c757d; /* Bootstrap's secondary text color */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Advanced animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    
    to {
        transform: scale(1);
    }
}

.fade-up {
    animation: fadeInUp 1s ease-out;
}

.scale-in {
    animation: scaleIn 1s ease-out;
}


section {
    padding: 80px 0;
}

.container {
    position: relative;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 50px;
    color: #007bff; /* Bootstrap's primary color */
    text-align: center;
    position: relative;
    z-index: 1;
}

.section-description {
    font-size: 1.2rem;
    text-align: center;
    color: #6c757d; /* Bootstrap's secondary text color */
    margin-bottom: 40px;
}

.contact-card {
    background-color: #daecff;
    border: 1px solid #d3e9ff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.contact-card:hover {
    transform: scale(1.05);
}

.contact-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.contact-link {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #C5FFF8, #96EFFF); /* Gradient background for buttons */
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.header-container {
    position: relative;
    z-index: 3;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center; /* Center the content */
}
.contact-link:hover {
    background: linear-gradient(to right, #E48586, #916DB3); /* Adjust the gradient on hover if needed */
}

/* Advanced animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fadeInUp 1s ease-out;
}
@keyframes backgroundAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }